.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Move down content 3.5 rem because we have a fixed navbar and padding of title fonts*/
main {
  margin-top: 3.5rem;
  background: url(https://i.loli.net/2020/01/02/MNwzK3Z5gD1bQSU.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 3.5rem;
    background: url(https://i.loli.net/2020/01/02/qoxjZKWT1G68Jet.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}