<!DOCTYPE html>
<html class="h-100">

{%- include head.html -%}

<body class="d-flex flex-column h-100">

    {%- include navigation.html -%}

    {{ content }}

    <footer class="footer mt-auto">
        <div class="container-fluid text-center pt-2 bg-dark text-white-50">
            <i class="fas fa-copyright"></i> 2019-2020 <a class="text-white"
               href="https://twitter.com/{{ site.twitter_username }}"
               target="_blank">{{ page.author }}</a>
        </div>
        <div class="container-fluid text-center pb-2 bg-dark text-white-50">
            <i class="fas fa-copyright"></i> {{ page.ex_copyright }}
        </div>
    </footer>

    {%- if page.google_analytics -%}
    {%- include google_analytics.html -%}
    {%- endif -%}

</body>

</html>